spring:
  application:
    name: subscription-management
  docker:
    compose:
      enabled: false

server:
  port: 8080
  servlet:
    context-path: /subscription-management/api

management:
  opentelemetry:
    tracing:
      export:
        otlp:
          endpoint: http://localhost:4318/v1/traces
    logging:
      export:
        otlp:
          endpoint: http://localhost:4318/v1/logs
  otlp:
    metrics:
      export:
        url: http://localhost:4318/v1/metrics