spring:
  application:
    name: subscription-management
  datasource:
    url: jdbc:postgresql://localhost:5433/subscription_db
    username: devLocal
    password: dev@123
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  sql:
    init:
      mode: never

server:
  port: 8080
  servlet:
    context-path: /api

integrations:
  wallet:
    api:
      url: http://localhost:8081/api

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE